pipeline/pipeline3.json
{
	"name": "pipeline3",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipeline2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-90.eastus.logic.azure.com:443/workflows/9c17a57885524fe4b7d4a31e38862692/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=kcBNAQAJK0V9GLAZn-z03CfvtXlq4seZ-DtEeqgYb1E",
					"method": "POST",
					"body": {
						"value": "{\n\"PipelineName\":\"@{pipeline().Pipeline}\",\n\"Error Message\":\"@{activity('Execute Pipeline1').Error.Message}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}